[Unit]
Description=Kraken Piggy Bank
After=network.target

[Service]
WorkingDirectory=<installation path>
ExecStart=<path to binary>
User=<user>
Group=<group>
Type=simple
KillMode=process
Restart=always
TimeoutSec=120
RestartSec=30

[Install]
WantedBy=multi-user.target